.chart-card{

height:420px;

}

.chart-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:20px;

}

.chart-header h3{

font-size:22px;

font-weight:600;

}

.chart-header p{

color:var(--text-light);

}

.recharts-wrapper{

font-size:13px;

}

@media(max-width:768px){

.chart-card{

height:100%;

}

}