:root{

--primary:#4F8EF7;
--secondary:#6FD3FF;

--bg:#edf4ff;

--card:rgba(255,255,255,.18);

--text:#202124;

--text-light:#666;

--border:rgba(255,255,255,.25);

--shadow:0 12px 35px rgba(0,0,0,.12);

--radius:22px;

}

[data-theme="dark"]{

--bg:#09111f;

--card:rgba(17,25,40,.60);

--text:#ffffff;

--text-light:#c9d1d9;

--border:rgba(255,255,255,.08);

--shadow:0 12px 35px rgba(0,0,0,.45);

}