.hour-scroll{

display:flex;

overflow-x:auto;

gap:15px;

padding-top:20px;

scrollbar-width:none;

}

.hour-scroll::-webkit-scrollbar{

display:none;

}

.hour-card{

min-width:90px;

padding:18px;

border-radius:18px;

text-align:center;

background:rgba(255,255,255,.08);

}

.hour-card img{

width:55px;

margin:auto;

}