.theme-toggle{

width:46px;

height:46px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

background:rgba(255,255,255,.18);

border:1px solid var(--border);

backdrop-filter:blur(18px);

font-size:20px;

color:var(--primary);

transition:.3s;

}

.theme-toggle:hover{

transform:rotate(180deg) scale(1.08);

background:var(--primary);

color:#fff;

}