.layout{

min-height:100vh;

display:flex;

flex-direction:column;

}

.layout-body{

display:flex;

flex:1;

}

.content{

flex:1;

padding:24px;

width:100%;

overflow:hidden;

}

@media(max-width:992px){

.content{

padding:18px;

}

}

@media(max-width:768px){

.content{

padding:12px;

}

}